<nav class="navbar navbar-expand-lg bg-light fixed-bottom border-top">
    <form class="container-fluid">
        <div class="row justify-content-between w-100 mx-5">
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img" src="assets/home-alt-2-svgrepo-com.svg" alt="Home-Icon"  height="30">
            </div>
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img" src="assets/explore-svgrepo-com.svg" alt="Explore-Icon"  height="30">
            </div>
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img" src="assets/icons8-instagram-reels.svg" alt="Reels-Icon"  height="30">
            </div>
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img" src="assets/plus-add-document-create-page-svgrepo-com.svg" alt="Create-Icon"  height="30">
            </div>
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img" src="assets/icons8-facebook-messenger.svg" alt="Messages-Icon"  height="30">
            </div>
            <div class="col col-sm col-md bottom-bar">
                <img class="bottom-img profile" id="profile" src="assets/pexels-suliman-sallehi-1704488.jpg" alt="Profile-Icon"  height="30%">
            </div>
        </div>
    </form>
  </nav>