<div class="container-fluid status-bar-box">
    <div class="row">
        <div class="col-8 overflow-hidden status-bar position-relative top-0 start-50 translate-middle-x mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination overflow-auto d-flex justify-content-start mt-3">
                  <li class="page-item d-none">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="image" src="https://images.pexels.com/photos/2530775/pexels-photo-2530775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/6626882/pexels-photo-6626882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/7013617/pexels-photo-7013617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/6962008/pexels-photo-6962008.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/4571943/pexels-photo-4571943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/7654096/pexels-photo-7654096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/6274712/pexels-photo-6274712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/4420634/pexels-photo-4420634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/5379056/pexels-photo-5379056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item px-2"><a class="page-link stories" href="#">
                    <img class="" src="https://images.pexels.com/photos/6205509/pexels-photo-6205509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="story1" height="60" width="60">
                  </a></li>
                  <li class="page-item d-none">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>
