<nav class="nav flex-column mt-3 d-xs-none d-md-block position-fixed">
    <a class="navbar-brand mt-3 mx-3 d-none d-lg-none d-xl-block" href="#" style="font-family: 'Style Script', cursive;">Instagram</a>
    <a class="navbar-brand logo mt-3 mx-3 d-none d-lg-block d-xl-none d-md-block" href="#" style="font-family: 'Style Script', cursive;">
    <img src="assets/instagram-logo.svg" alt="instagram-logo" height="24">
    </a>
    
    <a class="nav-link active mt-4 d-flex align-items-center fw-bold" aria-current="page" href="#">
        <img class="sidebar-img" src="assets/home-alt-2-svgrepo-com.svg" alt="Home-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Home </span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img class="sidebar-img" src="assets/search-svgrepo-com.svg" alt="Search-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Search</span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" src="assets/explore-svgrepo-com.svg" alt="Explore-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Explore</span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" src="assets/icons8-instagram-reels.svg" alt="Reels-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Reels</span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" src="assets/icons8-facebook-messenger.svg" alt="Messages-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Messages</span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" src="assets/heart-svgrepo-com.svg" alt="Notification-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Notification</span>
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" src="assets/plus-add-document-create-page-svgrepo-com.svg" alt="Create-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Create</span> 
    </a>
    <a class="nav-link mt-3 d-flex align-items-center" href="#">
        <img class="sidebar-img" id="profile" src="assets/pexels-suliman-sallehi-1704488.jpg" alt="Profile-Icon"  height="24" class="d-inline-block align-text-top">
        <span class="menu d-none d-xl-block mx-3">Profile</span>
    </a>

    <a class="nav-link d-flex align-items-center more" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-light material-symbols-outlined" data-bs-toggle="dropdown" aria-expanded="false">
                menu
            </button>
            <ul class="dropdown-menu shadow" style="width: 240px;">
              <li class="list-item settings"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Settings</span>
                <img class="float-end" src="assets/insta-settings.svg" alt="settings-icon" height="28">
              </a></li>
              <li class="list-item"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Saved</span>
                <img class="float-end" src="assets/insta-saved.svg" alt="saved-icon" height="28">
              </a></li>
              <li id="dark-mode-toggle" class="list-item"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Switch appearance</span>
                <img class="float-end" src="assets/insta-switch appearance.svg" alt="switch appearance-icon" height="28">
              </a></li>
              <li class="list-item"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Your Activity</span>
                <img class="float-end" src="assets/your activity.svg" alt="activity-icon" height="28">
              </a></li>
              <li class="list-item"><a class="dropdown-item rap" href="#">
                <span class="more-menu-content">Report a problem</span>
                <img class="float-end" src="assets/insta- report a problem.svg" alt="report a problem-icon" height="28">
              </a></li>
              <li class="list-item"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Switch accounts</span>
              </a></li>
              <li class=" list-item logout"><a class="dropdown-item" href="#">
                <span class="more-menu-content">Log out</span>
              </a></li>
            </ul>
          </div>
        <span class="menu d-none d-xl-block" id="more">More</span>
    </a>
    <!-- <a class="nav-link disabled">Disabled</a> -->
  </nav>

  <!-- bottom bar  -->
  <!-- <nav class="nav justify-content-center d-lg-none d-md-none fixed-bottom hstack gap-5 border-top bg-danger">
    
      <a class=" bottom-bar nav-link active" aria-current="page" href="#">
        <img class="bottom-img" src="assets/home-alt-2-svgrepo-com.svg" alt="Home-Icon"  height="24">
      </a>
   
    
      <a class=" bottom-bar nav-link" href="#">
        <img class="bottom-img" src="assets/explore-svgrepo-com.svg" alt="Explore-Icon"  height="24">
      </a>
   
    
      <a class=" bottom-bar nav-link" href="#">
        <img class="bottom-img" src="assets/icons8-instagram-reels.svg" alt="Reels-Icon"  height="24">
      </a>
   
    
      <a class=" bottom-bar nav-link" href="#">
        <img class="bottom-img" src="assets/plus-add-document-create-page-svgrepo-com.svg" alt="Create-Icon"  height="24">
      </a>
   
    
        <a class=" bottom-bar nav-link" href="#">
            <img class="bottom-img" src="assets/icons8-facebook-messenger.svg" alt="Messages-Icon"  height="24">
        </a>
     
      
        <a class=" bottom-bar nav-link" href="#">
            <img class="bottom-img" id="profile" src="assets/pexels-suliman-sallehi-1704488.jpg" alt="Profile-Icon"  height="24">
        </a>
     
    </nav> -->

    
    