
/* .sidebar {
    border-right: 2px solid ghostwhite;
} */
.dark-mode {
    background-color: #000;
    color: #fff;
  }

.navbar-brand {
    font-size: 1.8rem;
    /* font-weight: bold; */
}

.nav-link {
    border-radius: 20px;
}

.nav-link:hover {
    background-color:ghostwhite;
}

.nav-link {
    text-decoration: none;
    color: black;
    /* width: 220px; */
}

.nav-link img  {
    transition: transform .2s ease;
}

.nav-link:hover img {
    transform: scale(1.1);
}

/* hamburger */
.nav-link > div .btn {
    transition: transform .2s ease;
}

.nav-link:hover > div .btn {
    transform: scale(1.1);
    background-color: ghostwhite;
}



/* .nav-link span {
    margin-left: 18px;
    margin-bottom: -9px;
    display: inline-block;
    position: relative;
    bottom: 24px;
    left: 22px;
} */


#profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.more {
    position: fixed;
    top: 90%;
}

/* #more {
    position: relative;
    right: 8%;
    bottom: 34px;
} */

.btn:focus {
    outline: none !important;
    box-shadow: none;
  }

  .btn {
    background-color: white;
    font-size: 2rem;
    border: none;
    position: relative;
    right: 25%;
}

a[aria-expanded="true"] .menu{
    font-weight: bold;
  }

  a[aria-expanded="true"] div > .btn{
    font-weight: bold;
  }

  .dropdown-item {
    border-bottom: 2px solid ghostwhite;
    height: 47px;
  }

.dropdown-menu {
    border: none;
}

 /* report a problem margin */
.rap {
    border-bottom: 6px solid ghostwhite;
}
/* aligned content to center  */
.more-menu-content {
    position: relative;
    /* right: 6%; */
    top: 8px;
}
.float-end {
    position: relative;
    top: 8px;
}

/* Removed white space from settings on top */
.settings {
    margin-top: -8px;
    padding-top: 0px;
    border: 0;
}
/* removed white space from logout on bottom */
.logout {
    margin-bottom: -9px;
    padding-bottom: 0px;
    border: 0;

}

/* removed blue color when clicking on list items */

label, .dropdown-item:focus, .dropdown:active {
    outline: none;
    box-shadow: none;
    background-color: palevioletred;
    border-color: white;
}


@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  

/* bottom menu bar */


/* .bottom-bar:nth-of-type(even) {
    position: relative;
    left: 300px;
} */

/* .offcanvas-start {
    position: absolute;
    left: 8.7%;
} */


