<div class="container-fluid mt-5" style="position: relative; right:5%;">
    <div class="card border-0" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">
            <span class="profile-pic">
                <img src="assets/pexels-suliman-sallehi-1704488.jpg" alt="profile-pic" height="48" width="48" style="border-radius: 50%;">
            </span>
            <span class="profile-name fs-6 mx-3">Marcelo Dias</span>
            <span class="switch-link">
                <a href="#" class="card-link switch fs-6">switch</a>
            </span>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted mt-3" style="font-size: 14px;">
            <span>Suggestions for you</span>
            <span class="see-all float-end">See All</span>
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="follow-suggest-profile">
                    <img src="https://images.pexels.com/photos/1837129/pexels-photo-1837129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="follow-suggestions" height="35" width="35">
                </span>
                <span class="follow-suggest-name">
                    Guilherme Rossi
                </span>
                <span class="follow-link">
                    <a href="#" class="card-link">Follow</a>
                </span>
            </li>
            <li class="list-group-item">
                <span class="follow-suggest-profile">
                    <img src="https://images.pexels.com/photos/12821018/pexels-photo-12821018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="follow-suggestions" height="35" width="35">
                </span>
                <span class="follow-suggest-name">
                    Michel Acosta
                </span>
                <span class="follow-link">
                    <a href="#" class="card-link">Follow</a>
                </span>
            </li>
            <li class="list-group-item">
                <span class="follow-suggest-profile">
                    <img src="https://images.pexels.com/photos/2637051/pexels-photo-2637051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="follow-suggestions" height="35" width="35">
                </span>
                <span class="follow-suggest-name">
                    Filipe de Azevedo
                </span>
                <span class="follow-link">
                    <a href="#" class="card-link">Follow</a>
                </span>
            </li>
          </ul>
          <span><a href="#" class="card-link text-muted">About .</a></span>
          <span><a href="#" class="card-link text-muted">Help .</a></span>
          <span><a href="#" class="card-link text-muted">Press .</a></span>
          <span><a href="#" class="card-link text-muted">API .</a></span>
          <span><a href="#" class="card-link text-muted">Jobs .</a></span>
          <span><a href="#" class="card-link text-muted">Privacy .</a></span>
          <span><a href="#" class="card-link text-muted">Terms .</a></span>
          <span><a href="#" class="card-link text-muted">Locations .</a></span>
          <span><a href="#" class="card-link text-muted">Languages .</a></span>

          <a href="#" class="card-link text-muted mt-4">
            <p>&#169; 2023 instagramClone made by terence </p>
          </a>
        </div>
      </div>
</div>
